@import "../../../styles/colors";
@import "../../../styles/fonts";

.currency {
  padding: 16px;
  @include font-header();
}
.isRising {
  color: #fff;
  background-color: $currency-rising;
}

.isFalling {
  color: #fff;
  background-color: $currency-falling;
}
