.groups {
  column-count: 3;
  gap: 20px;
}

.group {
  grid-row: 1 / -1;
  grid-column: 1;

  &_wrapper {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
  }
}
